body {
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #222;
    max-width: 1800px;
    display: grid;
    grid-gap: 20px;
    margin: 0 auto;
    grid-template-columns: 1fr 10fr;
    grid-template-areas:
    "masthead masthead"
    "nav      main"
    "footer   footer";
}

a,
a:link {
    color: #007bff;
    text-decoration: none;
    font-size: 18px;
}

/*a:visited {
    color: #555;
}

a:hover {
    color: #BC002D;
}

a:active {
    color: #d4d10c;
}*/

header {
    grid-area: masthead;
    background-color: #8ba3f8;
    font-family: sans-serif;
    margin-top: 20px;
}

h1 {
    margin: 7px;
    padding-left: 25px;
}

nav {
    grid-area: nav;
    background-color: #8ba3f8;
    padding-top: 10px;
}

main {
    grid-area: main;
}

table, th, td {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(even) {background-color: #dedede;}

th {
    background-color: #002c5f;
    padding: 20px;
    padding-right: 200px;
    color: white;
}

#shows p {
    padding-left: 10px;
}

footer {
    grid-area: footer;
    background-color: #8ba3f8;
    padding-left: 25px;
}

